/* adds style to the body */
body {
    background-color: rgb(21, 21, 117);
}

/* adds style to the Header */
header {
   
    background-color: red;
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: black;
}

p {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;    
}

li {
    padding: 0px 20px;
}

/* removes underline from links */
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: none;
    color: black;

}

a:active {
    text-decoration: none;
    color: black;

}

div {
    display: flex;
    flex-direction: row;
}

h1 {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: red;
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: black;
}

img {
    width: 400px;
    margin: 0 10px;
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: black;
}

.missionStatement {
    display: flex;
    margin: 0 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: red;
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: black;
}

